.container {
  padding: 20px;

  h1 {
    margin-bottom: 10px;
  }

  .row {
    display: flex;
    width: 100%;

    .column {
      flex: 1;
      margin-right: 40px;

      h2 {
        margin-bottom: 30px;
      }

      .form-item {
        margin-bottom: 20px;
      }
    }
  }
}
